syntax: glob
.buckconfig.local
.buckd/
.DS_Store
buck-out/
buckd*
buck_server
android_agent_path
bootstrapper_jar

# Begin Github suggestions:
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
